#column1{
    background-color: #cc2626;
    height: 100px;
}
#column2{
    background-color: #1f4e94;
    height: 100px;
}
#column3{
    background-color: #b3942a;
    height: 200px;
}
#column4{
    background-color: #20bd30;
    height: 100px;
}
#column5{
    background-color: #9f1582;
    height: 100px;
}
#column6{
    background-color: #6d4fc1;
    height: 100px;
}
#column7{
    background-color: #d05b29;
    height: 100px;
}
#column8{
    background-color: #c6ca1e;
    height: 100px;
}
#column9{
    background-color: #0b8f29;
    height: 50px;
}
#column10{
    background-color: #319aa0;
    height: 50px;
}
#column11{
    background-color: #831516;
    height: 50px;
}
#column12{
    background-color: #2c16b6;
    height: 50px;
}
#column13{
    background-color: #320b0c;
    height: 25px;
}