*{
    margin: 0;
    padding: 0;
}body{
    margin: 50px;
}table, th, td, .half-rowspan {
    border: 1px solid black;
}.no-border{
    border: none;
}.half-rowspan{
    height: 100%;
    width: 99%;
    padding: 5px 0;
}.top-box{
    margin-bottom: 2px;
}