*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    width: 100vw;
    height: 100vh;
  }
  ol{
    width: 50vw;
    position: absolute;
    left: 25vw;
    margin-top: 5vh;
  }
  .family-members{
    margin: 10px 100px;
    min-width: 100px;
    font-family: Arial, sans-serif;
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
  }